@font-face {
  font-family: "NoonnuBasicGothicRegular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Global 변수 */
:root {
  --color-primary: var(--color-black);
  --color-primary-varient: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-varient: var(--color-orange);
  --color-text: var(--color-white);
  --color-accent2: var(--color-wheat);

  /* color */
  --color-white: #fff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fdb313;
  --color-gray: #1b1e26;
  --color-wheat: rgba(245, 222, 179);

  /* size */
  --size-max-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "NoonnuBasicGothicRegular";
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent; /*요소의 배경색을 투명하게 성정 */
  /* 버튼의 안쪽테두리 outline 없애기 */
  outline: 0;
  /* 버튼의 바깥테두리 없애기 */
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent2);
}

.section {
  padding: 4rem;
  text-align: center;
}

.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/* header 시작 */

.header {
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  font-size: 1.8rem;
  transition: transform 0.8s ease;
}

.header__logo__title span {
  color: var(--color-accent2);
}

.header__logo__title:hover {
  transform: scale(1.2);
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  padding: 8px 16px;
  border-radius: 20px;
}
.header__menu__item:hover {
  border: 1.5px solid var(--color-accent2);
}
.header__menu__item:active {
  background-color: var(--color-accent2);
}

/* header 끝 */

/* Home 시작 */
/* cube 시작 */
#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 7rem 1rem 5rem;
  text-align: center;
}

.introimg {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 100px;
}
.scene {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  perspective: 800px;
}
.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  /* transform: rotateX(-20deg) rotateY(-20deg); */
  /* transition: transform 10s ease-in-out; */
  /* transform: rotateX(360deg) rotateY(360deg); */
  animation: rotateforever 10s linear infinite;
}

@keyframes rotateforever {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/* .scene:hover .cube {transition: transform 10s ease-in-out;
} */
.face {
  position: absolute;
  width: 200px;
  height: 200px;
  /* background-color: rgb(26, 152, 242); */
  border: 2px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  line-height: 200px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.front {
  background: url(../images/hiyongglass4.png) no-repeat center/cover;
  transform: rotateY(0deg) translateZ(100px);
}
.back {
  background: url(../images/hiyongglass4.png) no-repeat center/cover;

  transform: rotateY(180deg) translateZ(100px);
}
.right {
  background: url(../images/hiyongglass4.png) no-repeat center/cover;

  transform: rotateY(90deg) translateZ(100px);
}
.left {
  background: url(../images/hiyongglass4.png) no-repeat center/cover;

  transform: rotateY(-90deg) translateZ(100px);
}
.top {
  background: url(../images/hiyongglass4.png) no-repeat center/cover;

  transform: rotateX(90deg) translateZ(100px);
}
.bottom {
  background: url(../images/hiyongglass4.png) no-repeat center/cover;

  transform: rotateX(-90deg) translateZ(100px);
}
/* cube 끝 */

.home__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home__title--string {
  color: var(--color-accent2);
}
.home__description {
  font-size: 1.5rem;
  animation: textup 2s ease-out forwards;
  animation-delay: 1.6s;
  opacity: 0;
}
.home__contact {
  /* block을 인라인화 하는 속성 */
  display: inline-block;
  background-color: var(--color-accent2);
  color: var(--color-black);
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 4px;
  animation: textup 2s ease-out forwards;
  animation-delay: 2.4s;
  opacity: 0;
}
.home_contact:hover {
  background-color: transparent;
  color: var(--color-text);
  outline: 2px solid var(--color-accent);
}

.home__ani__num1 {
  opacity: 0;
  animation-delay: 0s;
  animation: textup 2s ease-out forwards;
}
.home__ani__num2 {
  animation: textup 2s ease-out forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

/* Home 애니메이션 시작 */
@keyframes textup {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/* Home 애니메이션 시작 */

/* Home 끝 */

/* about 시작 */
.abouts {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem 0;
}

.about {
  background-color: var(--color-primary-varient);
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 1rem;
  cursor: default;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
}
.about__icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent2);
  transition: all 300ms ease;
}
.about:hover .skill__icon {
  transform: rotate(-15deg) scale(1.2);
}
.about__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.jobs {
  /* 언어에 따라서 시작위치를 다르게 설정. 한국어는 좌>우, 일본어는 우>좌 */
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* display: flex; */
}
.job {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 1rem;
  background-color: transparent;
  border-radius: 1rem;
}

.job div {
  /* background-color: var(--color-primary); */
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.job__name {
  color: var(--color-primary);
  text-align: center;
  font-size: 2rem;
  justify-content: center;
  line-height: 4rem;
}
.job__period {
  color: var(--color-primary);
  font-size: 0.8rem;
  text-align: center;
  justify-content: center;
}

/* about 끝 */

/* skills 시작 */
#skills {
  background-color: var(--color-primary-varient);
  color: var(--color-accent2);
}
.max-container p {
  margin-bottom: 50px;
}

.skill__icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.icons {
  border-radius: 1.5rem;
  transition: transform 1s ease;
}

.icons:hover {
  transform: scale(1.2);
}

/* skills 끝 */

/* work 시작 */
#work {
  background-color: var(--color-primary);
  color: var(--color-text);
}
.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}
.category {
  position: relative;
  color: var(--color-text);
  font-size: 1.1rem;
  padding: 1.5rem 3rem;
  border-radius: 4px;
  border: 1px solid var(--color-accent2);
  cursor: pointer;
  white-space: nowrap;
}
.category--selected {
  background-color: var(--color-accent2);
  color: var(--color-primary);
}
.categoty__count {
  opacity: 0;
  position: absolute;
  top: -20px;
  right: 16px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: var(--color-accent-varient);
  color: var(--color-text);
  /* transition: 속성종류(color, background 등..), 시간, 효과  */
  transition: all 250ms ease-in;
}
.categoty--selected .categoty__count,
.category:hover .categoty__count {
  opacity: 1;
  top: 0;
}
.projects {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.project__img {
  width: 100%;
}
/* 검정색 투명한 창 뜨게 하는 곳  */
.project__metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}
.project__metadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}
/* after: 다음에 나오는 요소를 하나 만들어주는 선택자 */
/* content: " ": 아무 내용도 없는 빈 가상 요소를 만듦 */
/* display: block; 가상 요소를 블록 요소처럼 만들어서 크기를 줄 수 있게 함  */
/* 화면상 파란 선 만든것 */
.project__title:after {
  content: "";
  display: block;
  position: relative;
  /* 가운데 정렬 */
  left: 50%;
  transform: translate(-50%);
  margin: 0.5rem 0;
  width: 50px;
  height: 2px;
  background-color: var(--color-accent2);
}

/* work 끝 */
/* license 시작 */
.licenses {
  margin: 3rem;
}
.license {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}
.license__img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}
.license__bubble {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}
.license__bubble__name {
  color: var(--color-accent2);
  font-weight: bold;
  filter: brightness(70%);
}
.license__bubble__mobile--popup {
  width: 6rem;
  height: 6rem;
  display: none;
}

/* license 끝 */
/* arrow up 시작 */
.arrow-up {
  background-color: var(--color-primary);
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: 5px 5px 0px 0px var(--color-accent2);
  transition: transform 250ms ease-in;
}
.arrow-up:hover {
  transform: scale(1.1);
}

/* arrow up 끝 */
/* footer 시작 */
#contact {
  background-color: var(--color-primary);
  color: var(--color-text);
}
.contact__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 2rem;
}
.contact__link {
  transition: color 250ms ease-in;
}
.contact__link:hover {
  color: var(--color-accent2);
}
.footer__mail {
  color: var(--color-accent2);
  animation: glow 2s infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(255, 217, 0);
  }
  to {
    text-shadow: 0 0 30px rgb(250, 234, 146, 1);
  }
}

/* footer 끝 */

/* 미디어 쿼리 */
/* 스마트폰 */
@media (max-width: 767px) {
  .max-container {
    width: 100%;
  }

  #home {
    margin-top: 1rem;
  }

  .header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2rem;
    gap: 4px;
  }
  .about {
    height: 22rem;
  }

  .skill__icon {
    gap: 2rem;
  }
  .icons {
    width: 5rem;
  }
  .categories {
    flex-wrap: wrap;
    margin: 0.5rem;
  }
  /* .licenses--grid {
    display: grid;
    grid-template-areas:
      "img1 img2 img3"
      "text1 text2 text3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
  } */
  .license__bubble {
    display: none;
  }
  .licenses {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.1rem;
    justify-content: space-between;
    gap: 0.5rem;
  }
  /* .license__img,
  .license__bubble__mobile--popup {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .license__img {
    width: 5rem;
    height: 5rem;
  }
  /* .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .text1 {
    grid-area: text1;
  }
  .text2 {
    grid-area: text2;
  }
  .text3 {
    grid-area: text3;
  } */
}
