@font-face {
  font-family: "NoonnuBasicGothicRegular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Global 변수 */
:root {
  --color-primary: var(--color-black);
  --color-primary-varient: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-varient: var(--color-orange);
  --color-text: var(--color-white);
  --color-accent2: var(--color-wheat);

  /* color */
  --color-white: #fff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd5413;
  --color-gray: #1b1e26;
  --color-wheat: rgba(245, 222, 179);

  /* size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "NoonnuBasicGothicRegular";
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent; /*요소의 배경색을 투명하게 성정 */
  /* 버튼의 안쪽테두리 outline 없애기 */
  outline: 0;
  /* 버튼의 바깥테두리 없애기 */
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent2);
}

.section {
  padding: 4rem;
  text-align: center;
}

.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/* header 시작 */

.header {
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  font-size: 1.8rem;
  transition: transform 0.8s ease;
}

.header__logo__title span {
  color: var(--color-accent2);
}

.header__logo__title:hover {
  transform: scale(1.2);
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  padding: 8px 16px;
  border-radius: 20px;
}
.header__menu__item:hover {
  border: 1.5px solid var(--color-accent2);
}
.header__menu__item:active {
  background-color: var(--color-accent2);
}

/* header 끝 */

/* Home 시작 */
/* cube 시작 */
#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 7rem 1rem 5rem;
  text-align: center;
}

.introimg {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 100px;
}
.scene {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  perspective: 800px;
}
.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  /* transform: rotateX(-20deg) rotateY(-20deg); */
  /* transition: transform 10s ease-in-out; */
  /* transform: rotateX(360deg) rotateY(360deg); */
  animation: rotateforever 10s linear infinite;
}

@keyframes rotateforever {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/* .scene:hover .cube {transition: transform 10s ease-in-out;
} */
.face {
  position: absolute;
  width: 200px;
  height: 200px;
  /* background-color: rgb(26, 152, 242); */
  border: 2px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  line-height: 200px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.front {
  background: url(../images/hiyongglass4.png) no-repeat center/cover;
  transform: rotateY(0deg) translateZ(100px);
}
.back {
  background: url(../images/hiyongglass4.png) no-repeat center/cover;

  transform: rotateY(180deg) translateZ(100px);
}
.right {
  background: url(../images/hiyongglass4.png) no-repeat center/cover;

  transform: rotateY(90deg) translateZ(100px);
}
.left {
  background: url(../images/hiyongglass4.png) no-repeat center/cover;

  transform: rotateY(-90deg) translateZ(100px);
}
.top {
  background: url(../images/hiyongglass4.png) no-repeat center/cover;

  transform: rotateX(90deg) translateZ(100px);
}
.bottom {
  background: url(../images/hiyongglass4.png) no-repeat center/cover;

  transform: rotateX(-90deg) translateZ(100px);
}
/* cube 끝 */

.home__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home__title--string {
  color: var(--color-accent2);
}
.home__description {
  font-size: 1.5rem;
  animation: textup 2s ease-out forwards;
  animation-delay: 1.6s;
  opacity: 0;
}
.home__contact {
  /* block을 인라인화 하는 속성 */
  display: inline-block;
  background-color: var(--color-accent2);
  color: var(--color-black);
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 4px;
  animation: textup 2s ease-out forwards;
  animation-delay: 2.4s;
  opacity: 0;
}
.home_contact:hover {
  background-color: transparent;
  color: var(--color-text);
  outline: 2px solid var(--color-accent);
}

.home__ani__num1 {
  opacity: 0;
  animation-delay: 0s;
  animation: textup 2s ease-out forwards;
}
.home__ani__num2 {
  animation: textup 2s ease-out forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

/* Home 애니메이션 시작 */
@keyframes textup {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/* Home 애니메이션 시작 */

/* Home 끝 */

/* about 시작 */
.skills {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem 0;
}

.skill {
  background-color: var(--color-primary-varient);
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 1rem;
  cursor: default;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
}
.skill__icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent2);
  transition: all 300ms ease;
}
.skill:hover .skill__icon {
  transform: rotate(-15deg) scale(1.2);
}
.skill__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.jobs {
  /* 언어에 따라서 시작위치를 다르게 설정. 한국어는 좌>우, 일본어는 우>좌 */
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* display: flex; */
}
.job {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 1rem;
  background-color: transparent;
  border-radius: 1rem;
}

.job div {
  /* background-color: var(--color-primary); */
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.job__img {
  /* justify-content: center; */
}

.job__name {
  color: var(--color-primary);
  text-align: center;
  font-size: 2rem;
  justify-content: center;
  line-height: 4rem;
}
.job__period {
  color: var(--color-primary);
  font-size: 0.8rem;
  text-align: center;
  justify-content: center;
}

/* about 끝 */

/* skills 시작 */
#skills {
  background-color: var(--color-primary-varient);
  color: var(--color-accent2);
}
.max-container p {
  margin-bottom: 50px;
}

.skill__icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.icons {
  border-radius: 1.5rem;
  transition: transform 1s ease;
}

.icons:hover {
  transform: scale(1.2);
}

/* skills 끝 */

/* footer 시작 */
#contact {
  width: 100%;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-accent2);
  padding: 2rem;
  line-height: 3rem;
}
